<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">

    <div class="container-fluid">

        <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass me-2"></i>
            <span><b>Wanderlust</b></span></a>

        <!-- navbar btn -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">

            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- menu items -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">
                <a class="nav-link ms-auto" href="/listings">Explore</a>

            </div>

            <!-- search -->
            <div class="navbar-nav search">

                <form class="d-flex search" role="search">

                    <div class="search-wrapper">

                        <!-- searchbox -->
                        <input class="form-control me-2 search-input" type="search" placeholder="Search destination..."
                            aria-label="Search" />

                        <!-- serach-btn -->
                        <button class="btn btn-outline-success search-btn" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>

                </form>
            </div>

            <!-- signup, login, logout,  -->
            <div class="navbar-nav ms-auto">

                <a class="nav-link me-2" href="/listings/new">New listings</a>

                <!-- login -->
                <% if (typeof currUser==='undefined' || !currUser) { %>
                    <a class="btn btn-dark me-3" href="/login">Login</a>

                    <!-- signup -->
                    <a class="btn btn-outline-dark  me-3 signupBtn" href="/signup">Signup</a>
                    <% } %>

                        <!-- logout -->
                        <% if (typeof currUser !=='undefined' && currUser) { %>
                            <a class="btn btn-danger me-3" href="/logout">Logout</a>
                            <% } %>


            </div>
        </div>
    </div>
</nav>